.picture {
  height:900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#p1 {
  background-image: url("img/images.jpeg");
}
