.picture {
  height:900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.picture.p1 {
  background-image: url("img/images.jpeg");
  width: 1116px;
  height: 724px;
}
